# =========================================================
# NODE / NEXT
# =========================================================

node_modules/
.next/
out/
dist/
build/
coverage/
.vite/
*.mp4
*.tsbuildinfo

# =========================================================
# ENV
# =========================================================

.env
.env.local
.env.development
.env.test
.env.production

# =========================================================
# EDITORS
# =========================================================

.vscode/
.idea/

# =========================================================
# OS FILES
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# CACHE
# =========================================================

.eslintcache
.prettiercache

# =========================================================
# LOGS
# =========================================================

logs/
*.log

# =========================================================
# ELECTRON BUILD OUTPUT
# =========================================================

release/
dist-electron/
dist_app/

# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================================
# PYINSTALLER
# =========================================================

backend/build/
backend/dist/
backend/*.spec

# =========================================================
# BACKEND GENERATED FILES
# =========================================================

backend/_internal/
backend/debug_frames/
backend/recordings_ffv1/
backend/
backend/storage/
backend/logs/

# =========================================================
# DATABASE
# =========================================================

*.db
*.sqlite
*.sqlite3

# =========================================================
# TORCH / AI CACHE
# =========================================================

*.pt
*.pth

# =========================================================
# TEMP
# =========================================================

tmp/
temp/